<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Daftar Collies
                </h2>
                <ul class="header-dropdown m-r--5">
                    <button type="button" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#AddUser">Add Collies</button>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Id</th>
                            <th>STT</th>
                            <th>No. Colly</th>
                            <th>Berat</th>
                            <th>Panjang</th>
                            <th>Tinggi</th>
                            <th>Lebar</th>
                            <th>Jenis Berat</th>
                            <th>Di Kirim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in DataUsers">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.Id}}</td>
                            <td>{{item.STT}}</td>
                            <td>{{item.CollyNumber}}</td>
                            <td>{{item.Weight}}</td>
                            <td>{{item.Long_}}</td>
                            <td>{{item.Hight}}</td>
                            <td>{{item.Wide}}</td>
                            <td>{{item.TypeOfWeight}}</td>
                            <td>{{item.IsSended}}</td>
                            <td>
                                <ul class="header-dropdown">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" title="Action" data-toggle="dropdown" role="button" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="material-icons">view_agenda</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <button type="button" ng-click="SelectedUser(item)" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#EditCity"><i class="material-icons">edit</i></button>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Another action</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Something else here</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add City</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputId.Id" class="form-control" placeholder="Id" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputSTT.STT" class="form-control" placeholder="STT" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="number" ng-model="InputNoColly.CollyNumber" class="form-control" placeholder="No. Colly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputBerat.Weight" class="form-control" placeholder="Berat" />
                            </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputPanjang.Long_" class="form-control" placeholder="Panjang" />
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputTinggi.Hight" class="form-control" placeholder="Tinggi" />
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputLebar.Wide" class="form-control" placeholder="Lebar" />
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputJenisBerat.TypeOfWeight" class="form-control" placeholder="Jenis Berat" />
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputDiKirim.IsSended" class="form-control" placeholder="Di Kirim" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="InsertDataUser()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditCity" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Edit City</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="SelectedItemCity.Province" class="form-control" placeholder="Provinsi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="SelectedItemCity.Regency" class="form-control" placeholder="Kabupaten" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="SelectedItemCity.CityName" class="form-control" placeholder="Nama Kota" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="SelectedItemCity.CityCode" class="form-control" placeholder="Kode Kota" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="UpdateDataCity()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>