<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Penjualan
                </h2>
                <div class="row clearfix">
                    <div class="col-md-4 pull-right">
                        <label for="email_address">No. STT:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" ng-model="DataInputPenjualan.STT" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body table-responsive">


                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Pengirim:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.Name for item in DataCustomer track by item.Id" ng-model="SelectedItemCustomerAsal" ng-change="SetAsal(SelectedItemCustomerAsal)"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label for="email_address">Penerima:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.Name for item in DataCustomer track by item.Id" ng-model="SelectedItemCustomerTujuan" ng-change="SetTujuan(SelectedItemCustomerTujuan)"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-2">
                        <label for="email_address">Asal
                            <sub>Org</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityCode for item in DataCity track by item.Id" ng-model="SelectedItemCityAsal"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Tujuan
                            <sub>Dest</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityCode for item in DataCity track by item.Id" ng-model="SelectedItemCityTujuan"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="Berat">Berat
                                <sub>Weight</sub>
                            </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Berat (Kg)" ng-model="DataInputPenjualan.Weight">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="Berat">Koli
                                    <sub>Colli</sub>
                                </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Banyaknya" ng-model="DataInputPenjualan.Colly">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="email_address">Isi
                            <sub>Content</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Keterangan Isi" ng-model="DataInputPenjualan.Content">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Status Pembayaran
                            <sub>Type Pament</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.status for item in DataStatusPembayaran track by item.status" ng-model="DataInputPenjualan.PayType"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="email_address">VIA
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.port for item in DataVia track by item.port" ng-model="DataInputPenjualan.PortType" ng-change="SetHarga()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="email_address">Surat Jalan
                            <sub>DO</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Do Number" ng-model="DataInputPenjualan.DoNumber">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-5">
                        <ul class="list-group">
                            <li class="list-group-item">Tarif
                                <span class="badge bg-pink">{{DataInputPenjualan.Price.Price|currency:"Rp"}}</span>
                            </li>
                            <li class="list-group-item">Biaya
                                <span class="badge bg-cyan">{{DataInputPenjualan.Biaya|currency:"Rp"}}</span>
                            </li>
                            <li class="list-group-item">Biaya Packing
                                <input type="text" class="form-control" placeholder="Packing Costs" ng-model="DataInputPenjualan.PackingCosts" ng-change="Packing()">
                            </li>
                            <li class="list-group-item">Biaya Lain-lain
                                <input type="text" class="form-control" placeholder="Etc" ng-model="DataInputPenjualan.Etc" ng-change="Etc()">
                            </li>
                            <li class="list-group-item">PPN 10%
                                <input type="text" class="form-control" placeholder="Tax" ng-model="DataInputPenjualan.Tax" ng-change="Tax()">
                            </li>
                            <li class="list-group-item">
                                <b>Total Biaya</b>
                                <span class="badge bg-purple">{{DataInputPenjualan.Total|currency:"Rp"}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-7">
                        <label for="email_address">Keterangan
                            <sup>Note</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="6" class="form-control no-resize" placeholder="Please type what you want..." ng-model="DataInputPenjualan.Note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="InsertPenjualan()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>