<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Penjualan
                </h2>
                <ul class="header-dropdown m-r--5">
                    <button type="button" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#AddColi">Coly</button>
                </ul>
            </div>
            <div class="body table-responsive">

                <div class="row clearfix">
                    <div class="col-md-4 pull-right">

                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Isi">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Pengirim:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label for="email_address">Penerima:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Asal
                            <sub>Org</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityName for item in DataCity track by item.Id" ng-model="SelectedItemCityAsal"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="email_address">Tujuan
                            <sub>Dest</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityName for item in DataCity track by item.Id" ng-model="SelectedItemCityTujuan"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="email_address">Isi
                            <sub>Content</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Isi">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Status Pembayaran
                            <sup>Type Pament</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">Kredit</option>
                                    <option value="20">Tunai</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="email_address">VIA
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">Laut</option>
                                    <option value="20">Udara</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="email_address">Surat Jalan
                            <sup>DO</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="M3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">Tarif
                                <span class="badge bg-pink">14 new</span>
                            </li>
                            <li class="list-group-item">Biaya
                                <span class="badge bg-cyan">99 read</span>
                            </li>
                            <li class="list-group-item">Biaya Packing
                                <span class="badge bg-teal">99+</span>
                            </li>
                            <li class="list-group-item">Biaya Lain-lain
                                <span class="badge bg-orange">21</span>
                            </li>
                            <li class="list-group-item">PPN 10%
                                <span class="badge bg-purple">18</span>
                            </li>
                            <li class="list-group-item">
                                <b>Total Biaya</b>
                                <span class="badge bg-purple">18</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <label for="email_address">Keterangan
                            <sup>Note</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="6" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="InsertDataUser()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="AddColi" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Edit City</h4>
            </div>
            <div class="modal-body">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>STT</th>
                            <th>Nomor Koli</th>
                            <th>Berat</th>
                            <th>Panjang</th>
                            <th>Tinggi</th>
                            <th>Lebar</th>
                            <th>Jenis Berat</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="UpdateDataCity()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>