<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Daftar Customer
                </h2>
                <ul class="header-dropdown m-r--5">
                    <button type="button" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#AddUser">Add Customer</button>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Nama Kontak</th>
                            <th>Handphone</th>
                            <th>Alamat</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in DataCustomer">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.Name}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.Handphone}}</td>
                            <td>{{item.Address}}</td>
                            <td>{{item.Email}}</td>
                            <td>
                                <button type="button" title="Edit" ng-click="SelectedCustomer(item)" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#EditCity"><i class="material-icons">edit</i></button>
                                <button type="button" title="Detail Customer" ng-click="SelectedCustomer(item)" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#DetailCity"><i class="material-icons">details</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputCustomer.Name" class="form-control" placeholder="Nama Customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.Type for item in CustomerType track by item.Type" ng-model="SelectedCusType"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputCustomer.ContactName" class="form-control" placeholder="Nama Kontak" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputCustomer.Phone1" class="form-control" placeholder="Telepon 1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputCustomer.Phone2" class="form-control" placeholder="Telepon 2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="InputCustomer.Handphone" class="form-control" placeholder="Handphone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea class="form-control" ng-model="InputCustomer.Address" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="email" ng-model="InputCustomer.Email" class="form-control" placeholder="Email (ex.jhon@mail.com)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityCode for item in DataCity track by item.Id" ng-model="SelectedItemCity"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="InsertDataCustomer()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="EditCity" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Edit Customer</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="DataUpdateCustomer.Name" class="form-control" placeholder="Nama Customer" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.Type for item in CustomerType track by item.Type" ng-model="SelectedCusType"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="DataUpdateCustomer.ContactName" class="form-control" placeholder="Nama Kontak" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="DataUpdateCustomer.Phone1" class="form-control" placeholder="Telepon 1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="DataUpdateCustomer.Phone2" class="form-control" placeholder="Telepon 2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-model="DataUpdateCustomer.Handphone" class="form-control" placeholder="Handphone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea class="form-control" ng-model="DataUpdateCustomer.Address" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="email" ng-model="DataUpdateCustomer.Email" class="form-control" placeholder="Email (ex.jhon@mail.com)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityCode for item in DataCity track by item.Id" ng-model="SelectedItemCity"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="UpdateDataCustomer()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailCity" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Detail {{DataUpdateCustomer.Name}}</h4>
            </div>
            <div class="modal-body">

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Jenis
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.CustomerType}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Nama Kontak
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.ContactName}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Telp 1
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.Phone1}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Telp 2
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.Phone2}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Handphone
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.Handphone}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Alamat
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.Address}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Email
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.Email}}</span></h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <h5 id="smallModalLabel">
                            Kota
                        </h5>
                    </div>
                    <div class="col-sm-1 pull-left">
                        <h5>:</h5>
                    </div>
                    <div class="col-sm-7 pull-left">
                        <h5><span class="label label-default">{{DataUpdateCustomer.CityName}}</span></h5>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>