<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Laporan Penjualan
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body table-responsive">
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <label for="tgl_awal">Dari Tanggal</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" ng-model="DataSearch.TglAwal">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="tgl_akhir">Sampai Tanggal</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" ng-model="DataSearch.TglAkhir">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="tgl_akhir">Status Pay</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" ng-options="item as item.IsPaid for item in StatusPay track by item.IsPaid" ng-model="SelectedItemPaid"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button type="button" ng-click="Cetak()" class="btn btn-default waves-effect m-r-20 pull-right">
                                                    <i class="material-icons">print</i>
                                                </button>
                                        <button type="button" ng-click="Cari()" class="btn btn-default waves-effect m-r-20 pull-right">
                                                <i class="material-icons">search</i>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>STT</th>
                            <th>Pengirim</th>
                            <th>Penerima</th>
                            <th>Harga</th>
                            <th>Berat</th>
                            <th>Biaya Paking</th>
                            <th>Pajak</th>
                            <th>Biaya Lain</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in DataPenjualan">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.STT}}</td>
                            <td>{{item.ShiperName}}</td>
                            <td>{{item.ReciverName}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.Weight}}</td>
                            <td>{{item.PackingCosts}}</td>
                            <td>{{item.Tax}}</td>
                            <td>{{item.Etc}}</td>
                            <td>{{item.Total|currency:'Rp. '}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>