<form>
    <h3>Change Password</h3>
    <div class="col-md-6">
        <div class="form-group form-float">
            <b>Password</b>
            <div class="form-line">
                <input type="password" class="form-control" placeholder="Password*" id="password" ng-model="Data.Password" required>
            </div>
        </div>
        <div class="form-group form-float">
            <b>Confirm Password</b>
            <div class="form-line">
                <input type="password" ng-fo class="form-control" placeholder="Confirm Password*" id="confirm" ng-model="Data.ConfirmPassword" required>

            </div>
        </div>
        <input name="acceptTerms" class="btn bg-green waves-effect" type="submit" value="Update" ng-click="ChangePassword()">
    </div>
</form>