<div class="row clearfix" ng-init="Init()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Daftar Penjualan
                </h2>
                <ul class="header-dropdown m-r--5">
                    <a href="#!AddPenjualan" class="btn btn-default waves-effect m-r-20 pull-right">Add</a>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>STT</th>
                            <th>Id Pengirim</th>
                            <th>Id Penerima</th>
                            <th>Id Kota</th>
                            <th>Harga</th>
                            <th>Jenis Berat</th>
                            <th>Jenis Pembayaran</th>
                            <th>Jenis Port</th>
                            <th>Pembayar</th>
                            <th>Biaya Paking</th>
                            <th>Pajak</th>
                            <th>Lain-lain</th>
                            <th>User Id</th>
                            <th>Ubah Tanggal</th>
                            <th>Perbarui Tanggal</th>
                            <th>Actived</th>
                            <th>Keterangan Bayar</th>
                            <th>Jenis Barang</th>
                            <th>Nomor DO</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in DataPenjualan">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.STT}}</td>
                            <td>{{item.ShiperID}}</td>
                            <td>{{item.ReciverID}}</td>
                            <td>{{item.CityID}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.TypeOfWeight}}</td>
                            <td>{{item.PayType}}</td>
                            <td>{{item.PortType}}</td>
                            <td>{{item.CustomerIdIsPay}}</td>
                            <td>{{item.PackingCosts}}</td>
                            <td>{{item.Tax}}</td>
                            <td>{{item.Etc}}</td>
                            <td>{{item.Actived}}</td>
                            <td>{{item.IsPaid}}</td>
                            <td>{{item.Content}}</td>
                            <td>{{item.DoNumber}}</td>
                            <td>{{item.Note}}</td>
                            <td>
                                <ul class="header-dropdown">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" title="Action" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">view_agenda</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <button type="button" ng-click="SelectedUser(item)" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#EditCity">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Another action</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Something else here</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add Penjualan</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Pengirim:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="2" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <label for="email_address">Penerima:</label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="2" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-2">
                        <label for="email_address">Asal
                            <sub>Org</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityName for item in DataCity track by item.Id" ng-model="SelectedItemCityAsal"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Tujuan
                            <sub>Dest</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control" ng-options="item as item.CityName for item in DataCity track by item.Id" ng-model="SelectedItemCityTujuan"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Koli
                            <sub>Pcs</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line" ng-show="TampilColi()">
                                <button type="button" class="btn btn-default waves-effect m-r-20 pull-right" data-toggle="modal" data-target="#AddColi">Add Penjualan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Isi
                            <sub>Content</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Isi">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Berat
                            <sub>Weight</sub>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Kg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="email_address">Volume
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="M3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="email_address">Status Pembayaran
                            <sup>Type Pament</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">Kredit</option>
                                    <option value="20">Tunai</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="email_address">VIA
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">Laut</option>
                                    <option value="20">Udara</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="email_address">Surat Jalan
                            <sup>DO</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="M3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <p>Tarif</p>
                            </div>
                            <div class="col-md-1">
                                <label>:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Biaya</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Biaya Packing</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Biaya Lain</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>PPN 10%</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Total Biaya</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="email_address">Keterangan
                            <sup>Note</sup>
                        </label>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="InsertDataUser()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="AddColi" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Edit City</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" ng-model="SelectedItemCity.Province" class="form-control" placeholder="Provinsi" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" ng-model="SelectedItemCity.Regency" class="form-control" placeholder="Kabupaten" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" ng-model="SelectedItemCity.CityName" class="form-control" placeholder="Nama Kota" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" ng-model="SelectedItemCity.CityCode" class="form-control" placeholder="Kode Kota" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="UpdateDataCity()" class="btn btn-link waves-effect" data-dismiss="modal">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>